[submodule "apps/node"]
	path = apps/node
	url = https://github.com/sesa/ebbrt-node-app
[submodule "toolchain/ext/boost"]
	path = toolchain/ext/boost
	url = https://github.com/SESA/EbbRT-boost.git
[submodule "toolchain/ext/tbb"]
	path = toolchain/ext/tbb
	url = https://github.com/SESA/EbbRT-tbb
