# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Editor temp files
*~
*.swo
*.swp

Makefile.in
aclocal.m4
autom4te.cache/
configure
build-aux
config.h.in
