[submodule "baremetal/ext/acpica"]
	path = baremetal/ext/acpica
	url = https://github.com/SESA/EbbRT-ACPICA.git
[submodule "baremetal/ext/boost"]
	path = baremetal/ext/boost
	url = https://github.com/SESA/EbbRT-boost.git
[submodule "baremetal/ext/capnp"]
	path = baremetal/ext/capnp
	url = https://github.com/SESA/EbbRT-capnp.git
[submodule "baremetal/ext/tbb"]
	path = baremetal/ext/tbb
	url = https://github.com/SESA/EbbRT-tbb
[submodule "baremetal/ext/fdt"]
	path = baremetal/ext/fdt
	url = https://github.com/SESA/EbbRT-fdt.git
