[project]
	description = Elastic building block runtime
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dan Schatzberg (dschatzberg)
[access "refs/for/refs/*"]
	read = group user/Dan Schatzberg (dschatzberg)
	push = group user/Dan Schatzberg (dschatzberg)
	label-Code-Review = -2..+2 group user/Dan Schatzberg (dschatzberg)
	label-Verified = -1..+1 group user/Dan Schatzberg (dschatzberg)
	rebase = group user/Dan Schatzberg (dschatzberg)
	removeReviewer = group user/Dan Schatzberg (dschatzberg)
	submit = group user/Dan Schatzberg (dschatzberg)
[access "refs/heads/*"]
	read = group user/Dan Schatzberg (dschatzberg)
	create = group user/Dan Schatzberg (dschatzberg)
	push = +force group user/Dan Schatzberg (dschatzberg)
	pushMerge = group user/Dan Schatzberg (dschatzberg)
[access "refs/tags/*"]
	push = +force group user/Dan Schatzberg (dschatzberg)
	pushTag = group user/Dan Schatzberg (dschatzberg)
	pushSignedTag = group user/Dan Schatzberg (dschatzberg)
